body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    margin: 0;
    background-color: #222831;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

.grids {
    border: 1px solid #393e46;
    box-sizing: border-box;
}

button {
    color: #00adb5;
    font-size: large;
    font-weight: bold;
    background-color: #393e46;
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: hsl(217, 10%, 23%);
    color: hsl(183, 100%, 33%);
}

button:active {
    background-color: hsl(217, 10%, 20%);
    color: hsl(183, 100%, 30%);
}
