body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 832px;
    height: 832px;
}

.grids {
    height: 50px;
    width: 50px;
    border: 1px solid grey;
}

.grids:hover {
    background-color: black;
}
